
<h3>Save curriculum</h3>

<% form_tag :action => 'create' do %>
  <p><label for="filecurrsaved_curr_title">Title</label><br/>
  <%= text_field 'filecurrsaved', 'curr_title'  %></p>
  <%= submit_tag "Save" %>
<% end %>



