*.log
*.pdf
rails/curr_rails/tmp
/deploy/RailsStarter/RailsStarter/bin/Debug
/deploy/RailsStarter/RailsStarter/obj/Debug
/deploy/RailsStarter/.vs/RailsStarter/v14/.suo
/deploy/RailsStarter/.vs/config/applicationhost.config
/deploy/RailsStarter/RubyAppStarterLib/bin/Debug
/deploy/RailsStarter/RubyAppStarterLib/obj/Debug
/deploy/RailsStarter/RailsStarter/bin/Release
/deploy/RailsStarter/RailsStarter/obj/Release
/deploy/RailsStarter/RubyAppStarterLib/bin/Release
/deploy/RailsStarter/RubyAppStarterLib/obj/Release
/rails/tmp/sessions
/deploy/RailsStarter/RubyAppStarterLib/bin/x86
/deploy/RailsStarter/RailsStarter/bin/x86
/deploy/RailsStarter/RailsStarter/obj/x86
/deploy/RailsStarter/RubyAppStarterLib/obj/x86
/rails/vendor/cache
/rails/.bundle
