<%= error_messages_for 'identpicture' %>

<!--[form:identpicture]-->
<p><label for="identpicture_foto">Foto</label><br/>
</p>

<p>Upload your picture:</p> 
<%= file_field('identpicture', "identpicture_picture") %>

<!--[eoform:identpicture]-->

