<h3>Update options</h3>

<%= render 'form' %>


<%= link_to(curriculum_url, class: 'btn btn-default', aria:{label: 'Back'} ) do %>
  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
<% end %>