<h3><%= I18n.t('Update options') %></h3>

<%= render 'form' %>


<%= link_to(curriculum_url, class: 'btn btn-default btnt20', aria:{label: 'Back'} ) do %>
  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
<% end %>