<% form_tag('/login/login_app', :class => 'create') do %>
<div class="required">
  <label for="name" >Name:</label>
  <%= text_field_tag :name, params[:name] %>
</div>
<div class="required">
  <label for="password" >Password:</label>
  <%= password_field_tag :password, params[:password] %>
</div>
  <%= submit_tag "Login" %>

<% end %> 