<h3><%= I18n.t('New Identity') %></h3>

<%= render 'form' %>

<br/>
<%= link_to(identities_path, class: 'btn btn-default', aria:{label: 'Back'} ) do %>
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
<% end %>