<% for column in Identity.content_columns
      contenuto_campo = "" 
      if column.name == 'klang'
        contenuto_campo = h @identity.language.isoname 
      else
        contenuto_campo = h @identity.send(column.name)
      end 
%>
<p>
  <b><%= column.human_name %>:</b> <%=contenuto_campo %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @identity %> |
<%= link_to 'Back', :action => 'list' %>
