<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Web Curriculum: <%= controller.action_name %></title>
  <%= stylesheet_link_tag  'currstyle' %>
</head>
<body>

<% 
   menu_items_view = [{:type => IdentitiesController, :title => 'Identities', :link => 'identities'}, 
                      {:type => LanguagesController, :title => 'Options', :link => 'languages'},
                      {:type => ComputerskillsController, :title => 'TechnologySK', :link => 'computerskills'},
                      {:type => EducationsController, :title => 'Education', :link => 'educations'},
                      {:type => WorkexperiencesController, :title => 'WorkExperience', :link => 'workexperiences'},
                      {:type => LanguageskillsController, :title => 'LanguagesSK', :link => 'languageskills'},
                      {:type => OtherskillsController, :title => 'OtherSK', :link => 'otherskills'},
                      {:type => MiscstuffsController, :title => 'MiscStuff', :link => 'miscstuffs'},
                      {:type => IdentpicturesController, :title => 'Picture', :link => 'identpictures'},
                      {:type => CurriculumController, :title => 'Curriculum', :link => 'curriculum'},
                      {:type => DestcurrsController, :title => 'Application', :link => 'destcurrs'}
                     ]
menu_selected = ""
%> 

<div id="page">
  <div id="logout">
  <%= link_to 'Logout', :controller=> 'login', :action => 'logout'%>
  </div>
  <div id="header">
    <h1>Web Curriculum </h1>
  </div>
  <div class="menu">
    <ul>
    <% menu_items_view.each do |item| 
      class_active_inval = "inactive"
      if controller.kind_of?(item[:type]) 
        menu_selected = item[:title] %> 
        <li><a class="active"><%= item[:title] %></a></li>
      <% else %>
      	<li><a class="inactive" href="/<%= item[:link] %>"><%= item[:title] %></a></li>
      <%end
      end %>

    </ul>
  </div>
  <h2><%= menu_selected %></h2>
  <div class="content">
<p style="color: green"><%= flash[:notice] %></p>


<%= yield  %>

</div>

</body>
</html>
