<h3>Editing computer skill</h3>

<% form_tag :action => 'update', :id => @computerskill do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @computerskill %> |
<%= link_to 'Back', :action => 'list' %>
