<h3>New technology</h3>

<%= render 'form' %>

<%= link_to(computerskills_path, class: 'btn btn-default', aria:{label: 'Back'} ) do %>
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
<% end %>
