<h3>Load Curriculum</h3>

<% form_tag :action => 'load_title' do %>
<p><label for="filecurrsaved_curr_title">Title</label><br/>
<%# select( 'filecurrsaved', 'curr_title',  @filecurrsaveds.each{|p| [ p.curr_title, p.id ] } )%>
<%# select( 'filecurrsaved', 'curr_title',  [["uno", 1], ["due", 2]] )%>
<%= select( 'filecurrsaved', 'id', Filecurrsaved.find(:all).collect{|p| [ p.curr_title, p.id ] }  )%>
  <%= submit_tag "Load" %>
<% end %>