<h2>MySmileCv</h2>

<i><%= I18n.t('An easy way to create an Italian or German PDF Curriculum Vitae') %>.</i>

<br/>
<br/>
<br/>
<h4> <%= I18n.t('About') %></h4>
<p>
<small>Cv with a smile, by  <%= link_to('aaasmile', 'https://github.com/aaaasmile') %>.</small>

</p>