<h3>Editing otherskill</h3>

<% form_tag :action => 'update', :id => @otherskill do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @otherskill %> |
<%= link_to 'Back', :action => 'list' %>
