<h3>New identity picture</h3>

<%= form_tag({:action => 'create'}, :multipart => true)%>
  <%= render :partial => 'form' %>
  <%= submit_tag "Upload file" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
