<h3>Editing workexperience</h3>

<%= render 'form' %>

<%= link_to(@workexperience, class: 'btn btn-default btnt20', aria:{label: 'Show'} ) do %>
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
<% end %>
<%= link_to(workexperiences_path, class: 'btn btn-default btnt20', aria:{label: 'Back'} ) do %>
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
<% end %>
